if flash
  .flash
    if flash.success.length
      .alert.alert-success
        each success in flash.success
          = success
          br
    if flash.error.length
      .alert.alert-danger
        each error in flash.error
          = error
          br