form#procedure-form.card(action= ( procedure && procedure.id ? "/procedures/update" : "/procedures" ), method="POST")
  if procedure && procedure.id
    input( type="hidden", name="id", value=procedure.id )

  .card-header
    .form-group
      label Title
      input.form-control(name="procedure[title]", required, value=(procedure ? procedure.title : null))
    

  .card-body
    .form-group
      label Description
      textarea.form-control(name="procedure[description]")
        = procedure && procedure.description

    .form-group
      label Status
      select.form-control(name="procedure[status]", required)
        each status in ['DRAFT', 'PUBLISHED']
          option( value=status, selected = ( procedure && procedure.status === status ))= status.toLowerCase()
    
    #procedureBody

    .form-group
      button.btn.btn-dark(type="submit")= procedure && procedure.id ? "Update" : "Create"