form#procedure-form.card(action= ( procedure ? "/procedures/update" : "/procedures" ), method="POST")
  if procedure
    input( type="hidden", name="id", value=procedure.id )

  .card-header
    .block-insert-actions.btn-group
      a#add-input.block-insert-action.btn.btn-secondary.block-add-input-action( title="Add Input" ) Input
      a#add-wysiwyg.block-insert-action.btn.btn-secondary.block-add-wysiwyg-action( title="Add WYSIWYG Editor" ) WYSIWYG

  .card-body
    .form-group
      label Title
      input.form-control(name="procedure[title]", required, value=(procedure ? procedure.title : null))

    .form-group
      label Content
      textarea.form-control(name="procedure[content]")
        = procedure && procedure.content

    .form-group
      label Status
      select.form-control(name="procedure[status]", required)
        each status in ['DRAFT', 'PUBLISHED']
          option( value=status, selected = ( procedure && procedure.status === status ))= status.toLowerCase()
    
    #procedureBody

    .form-group
      button.btn.btn-dark(type="submit") Submit