form(action= ( process ? "/processes/update" : "/processes" ), method="POST")
  if process
    input( type="hidden", name="id", value=process.id )

  .form-group
    label Title
    input.form-control(name="process[title]", required, value=(process ? process.title : null))

  .form-group
    label Content
    textarea.form-control(name="process[content]")
      = process && process.content

  .form-group
    label Status
    select.form-control(name="process[status]", required)
      each status in ['DRAFT', 'PUBLISHED']
        option( value=status, selected = ( process && process.status === status ))= status.toLowerCase()

  
  .form-group
    button.btn.btn-dark(type="submit") Submit