html,
body {
  height: 100%;
  width: 100%;
}

.container {
  margin-top: 60px;
}

.destroy {
  display: inline;
}
.destroy > input[type="submit"]{
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  color: #007bff;
}
.destroy:hover > input[type="submit"]{
  text-decoration: underline;
  color: #0056b3;
}


.flash {
  margin-top: 60px;
}
