extends ../layouts/main.pug

block globals
  - title = "Process Documentor";

block content

  .container
    header
      h1
        = title
        br
    p Write out a process, we call them procedures, in a document allowing users to fill in details as nessesary so the when a user is finished you know the procedure is done right, this time and every time.

    if( !isAuthenticated )
      p #[a(href="/register") Register Now] to get started.
    else
      p Check out the #[a(href="/tasks") tasks] for a look at what can be created.